/*
========================================================================================
    Module-specific Configuration
========================================================================================
    Module-specific parameter and publishing options
----------------------------------------------------------------------------------------
*/

process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'FILTLONG' {
        publishDir = [
            path: { "${params.outdir}/${meta.condition}/${meta.coverage}x" },
            mode: params.publish_dir_mode,
            pattern: '*.fastq.gz'
        ]
        label = 'process_medium'
    }

    withName: 'SAMPLESHEET_CHECK' {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
