/*
========================================================================================
    Module-specific Configuration
========================================================================================
    Module-specific parameter and publishing options
----------------------------------------------------------------------------------------
*/

process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'FILTLONG' {
        ext.args = [
            params.min_length ? "--min_length ${params.min_length}" : '',
            params.length_weight ? "--length_weight ${params.length_weight}" : '',
            params.mean_q_weight ? "--mean_q_weight ${params.mean_q_weight}" : '',
            params.window_q_weight ? "--window_q_weight ${params.window_q_weight}" : ''
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/${meta.condition}/${meta.coverage}x" },
            mode: params.publish_dir_mode,
            pattern: '*.fastq.gz'
        ]
        label = 'process_medium'
    }

    withName: 'SAMPLESHEET_CHECK' {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
